<html>
  <head>
    <title>contabi</title>
  </head>
  <body>
    <div id="app-root"></div>
    <script>
      const MY_DATA = JSON.parse("{{json .}}");
      console.log(MY_DATA);
    </script>
    <script src="dist/bundle.js"></script>
  </body>
</html>
