@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables.scss";

body {
  margin: 0;
  padding: 0;
}

.page {
  padding: 0 15px;
}

.subnav .pt-tab-list {
  padding: 7px 0 7px 15px;
}

.color-warning {
  color: $pt-intent-warning;
}
